{% extends 'layout.html' %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
{% endif %}
{% endwith %}

<!-- Rest of your content -->
<h1>Edit contact</h1>
<!-- Add contact form -->

    <form method="POST" action="/edit/{{ contact[0] }}">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ contact[1] }}" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" class="form-control" id="email" name="email" value="{{ contact[2] }}" required>
        </div>
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" class="form-control" id="phone" name="phone" value="{{ contact[3] }}" required>
        </div>
        <button type="submit" class="btn btn-primary">Update contact</button>
    </form>
{% endblock %}
